<div ng-controller="adminController" class="position-fixed">
	<div class="alert wow bounceIn" ng-show="postAlert" ng-class="isPostSuccess ? 'alert-success' : 'alert-danger'">
		<strong>{{postAlertCode}}!</strong> {{postAlertMessage}}.
	</div>
<form role="form">
	<legend>Create Notice</legend>
	<div class="form-group col-lg-12">
		<label class="control-label">Notice Title</label>
		<input type="text" class="form-control" ng-model="notice.title" placeholder="Enter Title For Notice">
	</div>
	<div class="form-group col-lg-6">
		<label class="control-label">Expires On</label>
   	    <input class="datepicker form-control" ng-model="notice.expireDate" placeholder="yyyy-mm-dd" required/>
	</div>
	<div class="form-group col-lg-6">
		<label class="control-label">Tags</label>
		<input type="text" class="form-control" ng-model="notice.tagList" placeholder="Enter comma seperated list of tags" required>
	</div>
	
	<div class="form-group col-lg-12">
		<label class="control-label">Notice</label>
		<div text-angular ng-model="notice.content" class="notice-content" placeholder="Enter Something to post"required>
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-success col-lg-3 col-lg-offset-4" ng-click="createNotice(notice)">Create Notice <span class="glyphicon glyphicon-ok"></span></button>
	</div>
</form>
</div>