<div ng-controller="checkPermission">
	<div class="search-bar position-fixed">
		<div class="has-feedback">
			<input type="text" ng-model="searchfilter.title" class="form-control" placeholder="Enter Notice Title to search">
			<i class="glyphicon glyphicon-search form-control-feedback"></i>
		</div>
	</div>
	<div id="noticelist">
		<div class="alert small-margin wow bounceIn" ng-show="archiveAlert" ng-class="isArchiveSuccess ? 'alert-success' : 'alert-danger'">
			<strong>{{archiveAlertCode}}</strong> {{archiveAlertMessage}}
		</div>
		<div class="col-lg-5 panel panel-default small-margin small-margin-right notice-background img-responsive"  ng-repeat="archivedNotice in archivedNotices | filter : searchfilter">
			<div class="panel-heading col-lg-12">
		    	<button class="pull-right btn btn-link" ng-show="isEditable" ng-click="unarchiveNotice(archivedNotice)">Unarchive</button>
		    	<button class="pull-right btn btn-link" ng-show="isEditable" ng-click="deleteNotice(archivedNotice)">Delete</button>
		    	<h3 class="panel-title">{{archivedNotice.title}}</h3>
			</div>
			<div class="panel-body" ng-click="setNoticeDetails(archivedNotice)" data-target="#noticeDetails" data-toggle="modal">
				<div>
			    	<strong class="col-lg-3">Posted On : </strong><span class="col-lg-9 content"> {{archivedNotice.postDate}}</span><br/>
					<strong class="col-lg-3">Posted By : </strong><span class="col-lg-9 content" ng-bind-html=archivedNotice.postedBy.name></span><br />
					<strong class="col-lg-3">Keywords / Tags : </strong><span class="col-lg-9 col-md-9 col-sm-9 content">{{archivedNotice.tagList}}</span><br>
					<strong class="col-lg-3">Body : </strong><div class="col-lg-9 content" ng-bind-html=archivedNotice.content></div><br/>
		    	</div>
		 	</div>
		</div>	
	</div>
	
	<div id="noticeDetails" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">{{detail.title}}</h2>
				</div>
				<div class="modal-body">
					<label class="control-label">Posted By : </label>{{detail.postedBy.name}}<br/>
					<label class="control-label">Posted On : </label>{{detail.postDate}}<br/>
					<label class="control-label">Content : </label>	<span class="notice-content" ng-bind-html=detail.content></span><br/>
					<label class="control-label">Tags : </label> {{detail.tagList}}
				</div>
			</div>
		</div>
	</div>
</div>