<div ng-controller="adminController">
	<div class="search-bar position-fixed">
		<div class="has-feedback">
			<input type="text" ng-model="searchfilter.name" class="form-control" placeholder="Enter Name to search">
			<i class="glyphicon glyphicon-search form-control-feedback"></i>
		</div>
	</div>
	<div class="panel panel-default small-margin" ng-repeat="request in requests | filter : searchfilter" ng-click="setRequestDetails($index)">
		<div data-target="#userRequest" data-toggle="modal">
			<div class="panel-heading">
		    	<h3 class="panel-title">{{request.name}}</h3>
			</div>
			<div class="panel-body" title="Click Anywhere to view Details">
				<div class="col-lg-6">
			    	<strong>Email : </strong> {{request.email}}<br />
			    	<strong>Designation : </strong> {{request.role.name}}<br /><br />
		    	</div>
		    	<div class="col-lg-6 ">
		    		<img ng-src={{request.picture}} class="img-responsive img-thumbnail pull-right" alt={{request.name}} height="100px" width="100px">
		    	</div>
		 	</div>
		 </div>
	</div>	


	<div id="userRequest" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h2 class="modal-title">User Detail</h2>
				</div>
				<div class="modal-body">
					<div class="alert" ng-show="userAlert" ng-class="isUserSuccess ? 'alert-success' : 'alert-danger'">
						<strong>{{userAlertCode}}!</strong> {{userAlertMessage}}.
					</div>
					<div class="form-group">
						<label class="control-label">Full Name : </label>
						<input type="text" class="form-control" ng-model=userRequestDetails.name value=userRequestDetails.name placeholder="Enter Full Name">
					</div>
					<div class="form-group">
						<label class="control-label">Email : </label>
						<span class="form-control">{{userRequestDetails.email}}</span>
					</div>
					<div class="form-group">
						<label for="dob" class="control-label" title="Date of Birth">DOB</label>
						<input type="text" class="form-control" ng-model="userRequestDetails.dob" value="userRequestDetails.dob" placeholder="yyyy-mm-dd">
					</div>
					<div class="form-group">
						<label for="dob" class="control-label" title="Date of Anniversary">DOA</label>
						<input type='text' name = "doa" ng-model = "userRequestDetails.doa" placeholder="yyyy-mm-dd"class="form-control" id='datepicker2'/>
					</div>
					<div class="form-group">
						<label class="control-label">Role</label>
						<select placeholder="Select Role" class="form-control"  ng-model="userRequestDetails.role">
							<option ng-repeat="role in roles" value={{role.name}} ng-selected="userRequestDetails.role.name == role.name">{{role.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">Permission</label>
						<select ng-model="userRequestDetails.permissions" class="form-control">
							<option ng-selected="userRequestDetails.permissions == 1" value=1>View Only  (Normal User)</option>
							<option ng-selected="userRequestDetails.permissions == 2"  value=2>Post/Edit/Delete (Manager)</option>
							<option ng-selected="userRequestDetails.permissions == 3"  value=3>All (Admin)</option>
						</select>
					</div>
					<div class="modal-footer">
						<button class="btn btn-success col-lg-5 col-lg-offset-1" ng-click="acceptUser(userRequestDetails)">Verify <i class="glyphicon glyphicon-ok"></i></button>
						<button class="btn btn-danger col-lg-5 col-lg-offset-3" ng-click="deleteUser(userRequestDetails)">Decline <i class="glyphicon glyphicon-refresh"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>